@media screen and (min-width: 480px) {
.two_column {
  display: flex;
  flex-wrap: wrap;
  > .col_1, .col_2 {
    box-sizing: border-box;
  }
  > .col_1 {
    width: 30%;
    padding-right: 10px;
  }
  
  > .col_2 {
    width: 70%;
  }
}
}



