/* line 1, ../sass/projects.scss */
.duo {
  display: flex;
  flex-wrap: wrap;
}

.duo_1 {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .duo {
    flex-wrap: nowrap;
  }

  .duo_1 {
    flex-basis: auto;
    min-width: 600px;
  }

  .duo_1>img {
    margin: 0 auto;
    max-width: 550px;
  }
}