/* line 2, ../sass/nav.scss */
nav ul {
  display: flex;
  flex-flow: column;
}
/* line 6, ../sass/nav.scss */
nav ul li {
  list-style: none;
}
/* line 9, ../sass/nav.scss */
nav ul li a {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  /* line 10, ../sass/base.scss */
  nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}
