/* line 1, ../sass/post_nav.scss */
.content {
}
/* line 4, ../sass/post_nav.scss */
.content > .col_1, .two_column .col_2 {
  box-sizing: border-box;
}
/* line 7, ../sass/post_nav.scss */
.content > .post_list {
  border-top: 1px solid #c8c8c8;
}
/* line 9, ../sass/post_nav.scss */
.content > .post_list > ul {
  list-style: none;
  padding-left: 0;
}
/* line 16, ../sass/post_nav.scss */
.content > .post_list > ul li:nth-child(2n) {
  /*background-color: #c8c8c8;*/
  background-color: #e8e8e8;
}

