---

---
<!DOCTYPE html>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>

<link rel = 'stylesheet' href = '/stylesheets/syntax.css' />
<link rel = 'stylesheet' href = '/stylesheets/base.css' />
<link rel = 'stylesheet' href = '/stylesheets/post_nav.css' />

<title>
{% if page.title %}
 {{ page.title }}
{% else %}
  Default Title
{% endif %}
</title>

{% include header.html %}
{% include nav.html %}

<div class = 'post_title'>
  <h1>{{ page.title }}</h1>
</div>

<div class = 'content'>
  <div class = "tags" align="center">
      <strong>tags:</strong>
      {% for tag in page.tags %}
      <u><a href='/tag/{{tag | replace: " ", "-"}}.html'>{{ tag }}</a></u>
      {% endfor %} 
    </ul>
  </div>
{{ content }}

<div class = 'post_list'>
  <h2> Post list </h2>
<ul>
    {% for post in site.posts %}
    <li>
      <!--
      <span class = 'post_date'> {{post.date | date: "%-d %b %y"}}</span>
      <br>
      -->
      <a href = "{{post.url}}">{{post.title}}</a>
    </li>
    {% endfor %}
</ul>
</div>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/javascript">
  // Automatically rescales MathJax equations to fit the page
  // https://codepen.io/mathjax/pen/qEdqPg
  // not gonna use it right now
</script>

</div>
