---

---

<!DOCTYPE html>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>

<link rel = 'stylesheet' href = '/stylesheets/syntax.css' />
<link rel = 'stylesheet' href = '/stylesheets/base.css' />
<link rel = 'stylesheet' href = '/stylesheets/post_nav.css' />



<title>
{% if page.title %}
 {{ page.title }}
{% else %}
  Default Title
{% endif %}
</title>

{% include header.html %}
{% include nav.html %}

<div class = 'two_column'>

<div class = 'col_1'>
<ul>
    {% for post in site.posts %}
    <li>
      <span class = 'post_date'> {{post.date | date: "%-d %b %y"}}</span><br><a href = "{{post.url}}">{{post.title}}</a>
    </li>
    {% endfor %}
</ul>
</div>

<div class = 'col_2'>
  <h1>{{ page.title }}</h1>
  <div class = "tags">
      <strong>tags:</strong>
      {% for tag in page.tags %}
      <u><a href='/tag/{{tag | replace: " ", "-"}}.html'>{{ tag }}</a></u>
      {% endfor %} 
    </ul>
  </div>
{{ content }}
</div>

</div>
